<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version='1.0'>
<dict>
	<key>Label</key>
	<string>org.sideband.bonjour-repeater</string>
        <key>ProgramArguments</key>
        <array>
		<string>/usr/local/sbin/bonjour-repeater.py</string>
		<string>-s</string>
		<string>_ipp._tcp</string>
		<string>-r</string>
		<string>_ipp._tcp,_universal</string>
		<string>-f</string>
		<string>URF=W8,CP1,RS600-600</string>
		<string>-p</string>
		<string>AirPrint</string>
        </array>
        <key>RunAtLoad</key><true/>
        <key>KeepAlive</key><true/>
</dict>
</plist>
